.github-profile-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1024px;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.user {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid;
}

.avatar {
  height: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.name-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin-top: 20px;
}

.name-container p {
  margin: 0px;
  font-size: 12px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.profile-info div {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: bold;
}

.profile-info p {
  margin: 0;
}
