.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* height: 100vh;
    width: 100vh; */
    justify-content: center;
    align-items: center;
}

.wrapper button {
    padding: 10px 20px;
    border: none;
    background: #ff6f61;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.accordion {
    width: 500px;
}

.accordion-item {
    background: #614101;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.title {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    color: white;
    height: auto;
}